<<<<<<< HEAD

<div class="container">
	<div class="row" style="margin-top: 100px;">
		<div class="col-lg-3"></div>

		<div class="col-lg-6">
			<div class="text-center">
			  <%= link_to "商品管理画面へ", ad_items_path %>
			  <br><%= link_to "ユーザー管理画面へ", ad_users_path %>
			  <br><%= link_to "お知らせ管理画面へ", infos_path %>

		    </div>
		</div>
		<div class="col-lg-3"></div>

	</div>
</div>
=======
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="admin_top.css">
	<link rel="stylesheet" type="text/css" href="../common_style.css">
	<title>管理画面ホーム</title>
</head>
<body>
	<header>
		<div class="container clearfix">
			<div class="logo">
				<span>長野EC ADM</span>
			</div>
			<nav>
				<ul class="nav-box">
					<li class="nav-box-text"> 管理者名　様</li>
					<li class="nav-box-text">
					 ログアウト</li>
				</ul>
			</nav>
		</div>
	</header>
<div class="items_users_box">
	<p class="items_users"><a href="admin_item_">商品管理画面へ</a></p>
	<p class="items_users"><a href="#">ユーザー管理画面へ</a></p>
	<p class="items_users"><a href="#">お知らせ管理画面へ</a></p>
	</body>
</div>
</html>
>>>>>>> ae314d27899854fd5c832abf3f631c3f5e189f1a
