<div id="wrapper">
    <footer id="footer" class="margin_top_2">
    <div class="block_20"></div>
        <p id="pageTop">PAGE TOP　<a href="#"><i class="fa fa-chevron-up"></i></a></p>
        <p>Copyright © 2019 NaganoEC All Rights Reserved.</p>
    </footer>
</div>