<div class="container">
	<div class="row">
		<div class="block_30"></div>
		<div class="col">
			<h3><strong>購入完了</strong></h3>
			<div class="color_red">ご購入ありがとうございました、商品ご到着までお待ち下さいませ。</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div>
				<%= link_to root_path do %>
				<div class="block_60"></div>
				<%= image_tag 'thank_you.png', :size =>'1100x482' %>
				<% end %>
			</div>
		</div>
	</div>
</div>