<div class="container">
	<h1>ご注文ありがとうございました</h1>
	<div class="row">
		<div class="ec_cart">
			<table>
				<tbody>
					<tr>
						<td>
							<h3>ご注文商品</h3>
						</td>
						<td>合計金額</td>
					</tr>
				</tbody>
			</table>
			<table>
				<tbody>
					<tr>
					</tr>
					<tr>
					</tr>
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>