<div class="container">
	<div class="row">
		<h1>ご注文確認画面</h1>
		<p>ご注文をご確認いただき、不備がないかご確認ください</p>
	</div>
		 <div class="row">
		 	<div class="ec_color">
			 	<table>
			 		<tbody>
			 			<tr>
			 		       <rd><h3>ご注文商品</h3></rd>
			 		       <td>合計金額ordered_items,quantity,pirce</td>
			 		    </tr>
		            </tbody>
			 	</table>
<!-- 			 	<% @cart.each do |c| %>
 -->			    <div class="hists_item">
	               <table>
	               	  <tbody>
			               	<tr>
			               		<td>image</td>
			               	</tr>
			               	<tr>
			               		<td>cd.item.property</td>
			               	</tr>
			               	<tr>
			               		<td>アーティスト.artist_name</td>
			               	</tr>
			               	<tr>
			               		<td>詳細item.details</td>
			               	</tr>
			               	<tr>
			               		<td>単価price</td>
			               	</tr>
			               	<tr>
			               		<td>小計.item.price+ordered_items_quantity</td>
			               	</tr>
			          </tbody>
			       </table>
			    </div>
		    </div>
		 </div>
		    <div class="row">
		    	<div class="ec_color">
		    	</div>
		    </div>
		    <div class="row">
		    	<p>link_to</p>
		    </div>
</div>

