/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.bg-black {
    background-color: black;
}

.li_margin {
    margin: 0 5px 0 5px;
}

footer {
    font-size: 14px;
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.f_margin {
    padding-top: 20px;
}

.btn {
    background-color: black;
    font-size: 9px;
    border-color: black;
}

.margin_top {
    margin-top: 15px;
}

.login_field {
    width: 100%;
    height: 380px;
    background-color: lightgray;
}

.login_left_1 {
    margin-left: 30px;
}