/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// グローバル

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 89, 255);
}

.items_index_a {
    color: black;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

// グローバル

.bg-black {
    background-color: black;
}

.li_margin {
    margin: 0 5px 0 5px;
}

body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

footer {
    font-size: 14px;
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
}

.f_margin {
    padding-top: 20px;
}

.btn {
    font-size: 9px;
}

.margin_top {
    margin-top: 15px;
}

// テキスト配置オプション
.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

// テキスト配置オプション

.margin_0 {
    margin: 0 auto;
}

.padding_top {
    padding-top: 30px;
}

.padding_top5px {
    padding-top: 5px;
}

.padding_top10px {
    padding-top: 10px;
}

.padding_top20px {
    padding-top: 20px;
}

.padding_bottom5px {
    padding-bottom: 5px;
}

.padding_bottom10px {
    padding-bottom: 10px;
}

.padding_bottom20px {
    padding-bottom: 20px;
}

.padding_left5px {
    padding-left: 5px;
}

.padding_left10px {
    padding-left: 10px;
}

.padding_left30px {
    padding-left: 30px;
}

.padding_left40px {
    padding-left: 40px;
}

.padding_left50px {
    padding-left: 50px;
}

.padding_right5px {
    padding-right: 5px;
}

.padding_right10px {
    padding-right: 10px;
}

.padding_right30px {
    padding-right: 30px;
}

.padding_right40px {
    padding-right: 40px;
}

.padding_right50px {
    padding-right: 50px;
}

.login_field {
    width: 100%;
    height: auto;
    background-color: rgb(221, 221, 221);
}

.sginup_field {
    width: 100%;
    height: auto;
    background-color: rgb(221, 221, 221);
}

.mypage_field3 {
    width: 100%;
    height: 48px;
    background-color: rgb(221, 221, 221);
}

.login_left_1 {
    margin-left: 30px;
}

.height_1 {
    height: 30px;
}

.margin_top_2 {
    margin-top: 50px;
}

.notice_user {
    font-size: 25px;
    color: red;
}

.color_white {
    color: white;
}

.margin_right_footer {
    margin-right: 20px;
}

.sh_field {
    height: 100%px;
    width: 100%;
    background-color: rgb(221, 221, 221);
}

.mp_firld_margin {
    margin-bottom: 20px;
}

.item_index_field {
    width: 250px;
    background-color: rgba(221, 221, 221, 0.383);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

// color
.color_black {
    color: black;
}

.color_red {
    color: rgb(212, 0, 0);
}

.bg_red {
    background-color: rgb(212, 0, 0);
}

.color_blue {
    color: rgb(0, 98, 255);
}

.block_10 {
    width: 100%;
    height: 10px;
}

.block_20 {
    width: 100%;
    height: 20px;
}

.block_30 {
    width: 100%;
    height: 30px;
}

.block_40 {
    width: 100%;
    height: 40px;
}

.block_50 {
    width: 100%;
    height: 50px;
}

.block_60 {
    width: 100%;
    height: 60px;
}

.block_70 {
    width: 100%;
    height: 70em;
}

.block_80 {
    width: 100%;
    height: 80px;
}

.block_item_show {
    width: 100%;
    height: 5em;
}

.property {
    margin: 5px 0 0 0;
    width: 100px;
    height: 20px;
    font-size: 8px;
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    padding: 2px;
}

.amount_text {
    font-size: 25px;
}

.margin_bottom5px {
    margin-bottom: 5px;
}

td {
    margin: 0;
    padding: 0;
}


.artist_size {
    font-size: 10px;
}

.cart_btn {
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.margin_left {
    margin-left: 150px;
}

.margin_left20 {
    margin-left: 10px;
}

.padding_0 {
    padding: 0 0 0 0;
}

.fa-youtube {
    font-size: 30px;
    color: red;
}

.slider div {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.slider img {
    width: 300px;
    height: 300px;
}


.width {
    width: 100%;
}

.shopping_histry_field {
    background-color: rgb(221, 221, 221);
    border-right: solid 1px rgb(180, 180, 180);
    border-left: solid 1px rgb(180, 180, 180);
    border-bottom: solid 1px rgb(180, 180, 180);
}

.shopping_history_field_header {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 50px;
    ;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 20px;

    a {
        color: white;
    }
}

#page_top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 0;
    bottom: 50px;
    opacity: 0.6;
    border-radius: 50%;
}

#page_top a {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    text-decoration: none;
}

#page_top a::before {
    font-family: FontAwesome;
    content: '\f102';
    font-size: 70px;
    color: red;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.page-item {
    font-size: 20px;
    text-align: center;
}

.background_img {
    height: 400px;
    padding-top: 40px;
    padding-left: 50px;
    border: double 10px #ffffff;
    z-index: 0;
    overflow: hidden;
    background-color: rgba(55, 87, 126, 0.767);
    /*半透明カラーの色*/
}

.background_img::before {
    content: '';
    background-image: url("mainVisual.jpg");
    background-position: center;
    background-image: repeat;
    opacity: 0.5;
    /*半透明カラーの透明度*/
    filter: blur(8px);
    /*ぼかし度*/
    position: absolute;
    /* 参考: http://designcolor-web.com/2016/09/14/css-blur-effects-background/*/
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
}

.re_text {
    font-size: 80px;
    padding-left: 115px;
    padding-top: 120px;
    font-family: 'Playfair Display', serif;

}

.box {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: rgba(0, 136, 255, 0.592);
    width: 600px;
    height: 700px;
    margin-left: 0px;
    margin-top: -100px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}