// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item_index{
	width: 20%;
}

.sasa{
	display: inline-block;
}

.infos_table{
	width: 100%;
}

.info_user{
	display: inline-block;
}

.infos_span{
	padding-left: 950px;
}